<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdIi2_xaKQBSiLWCkxMx8k1Ixov5f-ons</string>
	<key>GCM_SENDER_ID</key>
	<string>522365511070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiiilllerbot.TodoX</string>
	<key>PROJECT_ID</key>
	<string>todox-ab9b1</string>
	<key>STORAGE_BUCKET</key>
	<string>todox-ab9b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522365511070:ios:6aa8641b51b63bef0c628f</string>
</dict>
</plist>